$margin-center: 0 auto;
$font-Tks: "fot-tsukuardgothic-std", sans-serif;
$color-W: #fdfdfd;
$color-B: #4B4237;
$borderR-img: 5px;

#ability-top {
    width: 100vw;
    height: 50vh;
    background-color: #DDDBF1;
    display: flex;
    align-items: center;
    justify-content: center;

    .ability-top-heading {
        width: 50%;
        height: 40%;
        background-color: $color-W;
        opacity: 70%;
        border-radius: 10px;
        text-align: center;

        h1 {
            font-family: $font-Tks;
            font-size: 3em;
        }
    
        h2 {
            font-family: $font-Tks;
        }
    }
}

#ability-contents {
    width: 100vw;
    height: 110vh;
    background-color: #FFF7E8;
    position: relative;
}

#ability-contents::before {
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 100vw 0 0;
    border-color: transparent $color-W transparent transparent;
}

.parent-footer {
    width: 100vw;
    height: 107vh;

    .parent-footer-1 {
        width: 100%;
        height: 90%;
        padding: 5% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 30%;
            height: 15%;
        }

        .footer-btn-1 {
            width: 70%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .footer-btn-ability {
                width: 30%;
                height: 60%;
                background-color: #C4E6FD;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-family: $font-Tks;
                    font-weight: bold;
                    font-size: 2em;
                    text-decoration: none;
                    color: $color-B;
                }
            }

            .footer-btn-goods {
                width: 30%;
                height: 60%;
                background-color: #D2F8D1;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-family: $font-Tks;
                    font-weight: bold;
                    font-size: 2em;
                    text-decoration: none;
                    color: $color-B;
                }
            }
        }

        .footer-btn-2 {
            width: 60%;
            height: 20%;

            .footer-btn-child {
                width: 100%;
                height: 100%;
                background-color: #F6F1C2;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-family: $font-Tks;
                    font-weight: bold;
                    font-size: 2em;
                    text-decoration: none;
                    color: $color-B;
                }
            }
        }
    }

    .parent-footer-2 {
        width: 100vw;
        height: 10%;
        background-color: $color-G;
    }
}