$margin-center: 0 auto;
$font-Tks: "fot-tsukuardgothic-std",
sans-serif;
$color-W: #fdfdfd;
$color-B: #4B4237;
$color-EG: #A2C3AB;
$borderR-img: 5px;

#ability-top {
    width: 100vw;
    height: 50vh;
    background-color: #DDDBF1;
    display: flex;
    align-items: center;
    justify-content: center;

    .ability-top-heading {
        width: 50%;
        height: 50%;
        background-color: $color-W;
        opacity: 70%;
        border-radius: 10px;
        text-align: center;

        h1 {
            font-family: $font-Tks;
            font-size: 6rem;
        }

        h2 {
            font-family: $font-Tks;
            font-size: 3rem;
        }
    }
}

#ability-contents {
    width: 100vw;
    height: 110vh;
    background-color: #FFF7E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .ability-contents-0 {
        width: 80%;
        height: 40%;
        position: relative;

        .ability-contents-main {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;

            .ability-contents-text {
                width: 50%;
                height: 100%;

                h1 {
                    font-family: $font-Tks;
                    font-size: 6rem;
                    color: $color-B;
                }

                p {
                    font-family: $font-Tks;
                    font-size: 2rem;
                    color: $color-B;
                }
            }

            img {
                width: 40%;
                height: auto;
            }
        }
    }


    .ability-contents-btn {
        width: 80%;
        height: 24%;
        margin-bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ability-contents-btn-D {
            width: 20%;
            height: 100%;
            background-color: $color-EG;
            border-radius: $borderR-img;

            h2 {
                font-family: $font-Tks;
                color: $color-B;
                font-size: 3rem;
            }
        }

        .ab-btn-1:hover {
            border: 10px solid #629677;
            box-sizing: border-box;
        }

        .ab-btn-2:hover {
            border: 10px solid #629677;
            box-sizing: border-box;
        }

        .ab-btn-3:hover {
            border: 10px solid #629677;
            box-sizing: border-box;
        }

        .ab-btn-4:hover {
            border: 10px solid #629677;
            box-sizing: border-box;
        }
    }

}

#ability-contents::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 100vw 0 0;
    border-color: transparent $color-W transparent transparent;
}

.parent-footer {
    width: 100vw;
    height: 107vh;

    .parent-footer-1 {
        width: 100%;
        height: 90%;
        padding: 5% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(/img/footerpattern.png);
        background-repeat: no-repeat;
        background-size: 100%;

        img {
            width: 30%;
            height: 15%;
        }

        .footer-btn-1 {
            width: 70%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .footer-btn-ability {
                width: 30%;
                height: 60%;
                background-color: #C4E6FD;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-family: $font-Tks;
                    font-weight: bold;
                    font-size: 4rem;
                    text-decoration: none;
                    color: $color-B;
                }
            }

            .footer-btn-ability:hover {
                border: 15px solid #016FB9;
                box-sizing: border-box;
            }

            .footer-btn-goods {
                width: 30%;
                height: 60%;
                background-color: #D2F8D1;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-family: $font-Tks;
                    font-weight: bold;
                    font-size: 4rem;
                    text-decoration: none;
                    color: $color-B;
                }
            }

            .footer-btn-goods:hover {
                border: 15px solid #9DEF9B;
                box-sizing: border-box;
            }
        }

        .footer-btn-2 {
            width: 60%;
            height: 20%;

            .footer-btn-child {
                width: 100%;
                height: 100%;
                background-color: #F6F1C2;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-family: $font-Tks;
                    font-weight: bold;
                    font-size: 4rem;
                    text-decoration: none;
                    color: $color-B;
                }
            }

            .footer-btn-child:hover {
                border: 15px solid #EFE79B;
                box-sizing: border-box;
            }
        }
    }

    .parent-footer-2 {
        width: 100vw;
        height: 10%;
        background-color: $color-G;
    }
}

.active {
    opacity: 1;
    visibility: visible;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width:600px) {
    #ability-top {
        height: 30vh;

        .ability-top-heading {
            width: 67%;
            height: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 2em;
            }

            h2 {
                font-size: 0.8em;
            }
        }
    }

    #ability-contents {
        height: 82.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .ability-contents-0 {
            width: 68%;
            height: 50%;

            .ability-contents-main {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: space-between;
                position: absolute;

                .ability-contents-text {
                    width: 100%;
                    height: 36%;
                    text-align: center;

                    h1 {
                        font-size: 2em;
                    }

                    p {
                        font-size: 1em;
                    }
                }

                img {
                    width: auto;
                    height: 64%;
                }
            }
        }


        .ability-contents-btn {
            width: 60%;
            height: 24%;
            margin-bottom: 5%;
            justify-content: space-between;
            flex-wrap: wrap;

            .ability-contents-btn-D {
                width: 45%;
                height: 44%;
                background-color: $color-EG;

                h2 {
                    font-family: $font-Tks;
                    color: $color-B;
                    font-size: 1em;
                }
            }
        }

    }

    #ability-contents::before {
        border-width: 20px 100vw 0 0;
    }

    .parent-footer {
        width: 100vw;
        height: 64vh;

        .parent-footer-1 {
            width: 100%;
            height: 90%;
            padding: 5% 0;
            justify-content: space-between;

            img {
                width: 30%;
                height: auto;
            }

            .footer-btn-1 {
                width: 74%;
                height: 60%;
                display: flex;
                align-items: center;
                flex-direction: column;
                ;
                justify-content: space-around;

                .footer-btn-ability {
                    width: 100%;
                    height: 45%;
                    background-color: #C4E6FD;
                    border-radius: 10px;
                    margin-bottom: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .footer-ability-img {
                        width: 100%;
                        height: 50%;
                        position: relative;

                        .footer-ability-img-1 {
                            width: 25%;
                            height: auto;
                            position: absolute;
                            top: -60%;
                            left: 25%;
                        }

                        .footer-ability-img-2 {
                            width: 30%;
                            height: auto;
                            position: absolute;
                            top: -80%;
                            right: 25%;
                        }
                    }

                    a {
                        font-family: $font-Tks;
                        font-weight: bold;
                        font-size: 1.5rem;
                        text-decoration: none;
                        color: $color-B;
                    }
                }

                .footer-btn-goods {
                    width: 100%;
                    height: 45%;
                    background-color: #D2F8D1;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .footer-goods-img {
                        width: 100%;
                        height: 50%;
                        position: relative;

                        .footer-goods-img-1 {
                            width: 40%;
                            top: -60%;
                            left: 30%;
                        }

                        .footer-goods-img-2 {
                            width: 30%;
                            top: 5%;
                            left: 5%;
                        }

                        .footer-goods-img-3 {
                            width: 30%;
                            top: 10%;
                            right: 3%;
                        }
                    }

                    a {
                        font-size: 1.5rem;
                    }
                }
            }

            .footer-btn-2 {
                width: 74%;
                height: 11%;

                .footer-btn-child {
                    width: 100%;
                    height: 100%;
                    background-color: #F6F1C2;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .parent-footer-2 {
            width: 100vw;
            height: 10%;
            background-color: $color-G;
        }
    }
}