$margin-center: 0 auto;
$font-Tks: "fot-tsukuardgothic-std",
sans-serif;
$color-W: #fdfdfd;
$color-B: #4B4237;
$borderR-img: 5px;

html {
    font-size: 62.5%;
}

#goods-top {
    width: 100vw;
    height: 50vh;
    background-color: #F6F5AE;
    display: flex;
    align-items: center;
    justify-content: center;

    .goods-top-heading {
        width: 50%;
        height: 50%;
        background-color: $color-W;
        opacity: 70%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-family: $font-Tks;
            font-size: 6rem;
            // margin-bottom: -8%;
        }

        h2 {
            font-family: $font-Tks;
            font-size: 3rem;
        }
    }
}

#goods-main {
    width: 100vw;
    height: 460vh;
    position: relative;

    .goods-main-game {
        width: 100%;
        height: 20%;
        background-color: #A5EF83;
        position: relative;
        background-image: url(/img/patternback.png);
        background-size: 110%;
        background-repeat: no-repeat;
    }

    .goods-main-game::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 100vw 0 0;
        border-color: transparent #C2A3F5 transparent transparent;
    }

    .goods-main-robot {
        width: 100%;
        height: 20%;
        background-color: #C2A3F5;
        position: relative;
        background-image: url(/img/patternback.png);
        background-size: 120%;
        background-repeat: no-repeat;
    }

    .goods-main-robot::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 100vw 0 0;
        border-color: transparent #F58983 transparent transparent;
    }

    .goods-main-analog {
        width: 100%;
        height: 20%;
        background-color: #F58983;
        position: relative;
        background-image: url(/img/patternback.png);
        background-size: 140%;
        background-position: top;
        background-repeat: no-repeat;
    }

    .goods-main-analog::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 100vw 0 0;
        border-color: transparent #76A0F4 transparent transparent;
    }

    .goods-main-thinking {
        width: 100%;
        height: 20%;
        background-color: #76A0F4;
        position: relative;
        background-image: url(/img/patternback.png);
        background-size: 120%;
        background-repeat: no-repeat;
    }

    .goods-main-thinking::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 100vw 0 0;
        border-color: transparent #F9B668 transparent transparent;
    }

    .goods-main-tv {
        width: 100%;
        height: 20%;
        background-color: #F9B668;
        position: relative;
        background-image: url(/img/patternback.png);
        background-size: 140%;
        background-position: top;
        background-repeat: no-repeat;
    }

    .goods-main-tv::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 100vw 0 0;
        border-color: transparent $color-W transparent transparent;
    }
}

.item-flex {
    margin: $margin-center;
    width: 80%;
    height: 43%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item {
    width: 30%;
    height: 100%;
    background-color: $color-W;
    text-align: center;

    img {
        width: 85%;
        height: 60%;
        margin-top: 5%;
    }

    h2 {
        font-family: $font-Tks;
        font-size: 2.5rem;
        color: $color-B;
        text-align: center;
        margin: 3%;
    }
}

.item-title {
    font-family: $font-Tks;
    font-size: 5rem;
    color: $color-W;
    margin-left: 12%;
    margin-bottom: 8%;
    padding-top: 4%;
}

.goods-info {
    width: 45vw;
    height: 85vh;
    padding-bottom: 3%;
    background-color: $color-W;
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;


    h3 {
        font-family: $font-Tks;
        font-size: 4rem;
        text-align: center;
        margin: 5% 0 2% 0;
        color: $color-B;
        line-height: 120%;

        span {
            font-size: 0.8em;
        }
    }

    .goods-info-main {
        width: 90%;
        height: 90%;
        background-color: #A5EF83;
        padding: 5% 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        border-radius: $borderR-img;

        img {
            width: 90%;
            height: 50%;
        }

        p {
            font-family: $font-Tks;
            text-align: center;
            font-size: 1.5rem;
            line-height: 200%;
            color: $color-B;
            font-weight: bold;
        }

        .product {
            width: 90%;
            height: 25%;
            background-color: $color-W;
            display: flex;
            justify-content: center;
            border-radius: $borderR-img;

            .product-left {
                width: 50%;
                height: 100%;

                h4 {
                    font-family: $font-Tks;
                    color: $color-W;
                    font-size: 1.5rem;
                    color: $color-B;
                    line-height: 120%;
                    margin: 10% 0 8% 0;

                    span {
                        font-size: 0.5em;
                    }
                }

                p {
                    font-family: $font-Tks;
                    color: $color-W;
                    font-size: 0.6em;
                    color: $color-B;
                    text-align: left;
                    font-weight: bold;
                    line-height: 250%;
                }
            }

            .product-right {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 45%;
                    height: auto;
                    margin-bottom: 10%;
                }

                .product-right-btn {
                    width: 100%;
                    height: 15%;
                    background-color: #F0D150;
                    text-align: center;
                    border-radius: 10px;

                    a {
                        text-decoration: none;
                        font-family: $font-Tks;
                        color: $color-W;
                        font-size: 0.6em;
                    }
                }
            }
        }
    }
}

.active {
    opacity: 1;
    visibility: visible;
}

.goods-info-close {
    position: absolute;
    top: -4%;
    right: -6%;
    width: 11%;
    height: 10%;
    background-color: #F0D150;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: $color-W;
        font-family: $font-Tks;
        font-size: 5rem;
    }
}

.goods-info-close:hover {
    background-color: #FFE782;
}

// .goods-info-visible {
//     opacity: 1;
//     display: block;
// }

// .goods-info-invisible {
//     opacity: 0;
//     display: none;
// }


@media screen and (max-width:600px) {
    #goods-top {
        height: 30vh;

        .goods-top-heading {
            width: 67%;
            height: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 3rem;
                margin-bottom: -5%;
            }

            h2 {
                font-size: 1rem;
            }
        }
    }

    #goods-main {
        height: 485vh;

        .goods-main-game {
            width: 100%;
            height: 21%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .item-flex {
                margin: $margin-center;
                width: 60%;
                height: 78%;
                margin-bottom: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            .item {
                width: 100%;
                height: 29%;
                background-color: $color-W;
                text-align: center;

                img {
                    width: 85%;
                    height: 60%;
                    margin-top: 5%;
                }

                h2 {
                    font-family: $font-Tks;
                    font-size: 1.5rem;
                    color: $color-B;
                    text-align: center;
                    margin: 3%;
                }
            }
        }

        .goods-main-game::before {
            border-width: 20px 100vw 0 0;
        }

        .goods-main-robot {
            width: 100%;
            height: 23%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .item-flex {
                margin: $margin-center;
                width: 60%;
                height: 72%;
                margin-bottom: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            .item {
                width: 100%;
                height: 29%;
                background-color: $color-W;
                text-align: center;

                img {
                    width: 85%;
                    height: 60%;
                    margin-top: 5%;
                }

                h2 {
                    font-family: $font-Tks;
                    font-size: 1.5rem;
                    color: $color-B;
                    text-align: center;
                    margin: 3%;
                }
            }
        }

        .goods-main-robot::before {
            border-width: 20px 100vw 0 0;
        }

        .goods-main-analog {
            width: 100%;
            height: 23%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .item-flex {
                margin: $margin-center;
                width: 60%;
                height: 72%;
                margin-bottom: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            .item {
                width: 100%;
                height: 29%;
                background-color: $color-W;
                text-align: center;

                img {
                    width: 85%;
                    height: 60%;
                    margin-top: 5%;
                }

                h2 {
                    font-family: $font-Tks;
                    font-size: 1.5rem;
                    color: $color-B;
                    text-align: center;
                    margin: 3%;
                }
            }
        }

        .goods-main-analog::before {
            border-width: 20px 100vw 0 0;
        }

        .goods-main-thinking {
            width: 100%;
            height: 16.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .item-flex {
                margin: $margin-center;
                width: 60%;
                height: 64%;
                margin-bottom: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            .item {
                width: 100%;
                height: 45.5%;
                text-align: center;


                img {
                    width: 85%;
                    height: 60%;
                    margin-top: 5%;
                }

                h2 {
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 3%;
                }
            }
        }

        .goods-main-thinking::before {
            border-width: 20px 100vw 0 0;
        }

        .goods-main-tv {
            width: 100%;
            height: 16.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .item-flex {
                margin: $margin-center;
                width: 60%;
                height: 64%;
                margin-bottom: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            .item {
                width: 100%;
                height: 45.5%;
                text-align: center;

                img {
                    width: 85%;
                    height: 60%;
                    margin-top: 5%;
                }

                h2 {
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 3%;
                }
            }
        }

        .goods-main-tv::before {
            border-width: 20px 100vw 0 0;
        }
    }

    .item-title {
        font-size: 3rem;
        padding-top: 4%;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .goods-info {
        width: 90vw;
        height: 80vh;
        padding-bottom: 3%;
        background-color: $color-W;
        position: fixed;
        top: 5%;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        visibility: hidden;
    
    
        h3 {
            font-family: $font-Tks;
            font-size: 2.3rem;
            text-align: center;
            margin: 5% 0 2% 0;
            color: $color-B;
            line-height: 120%;
    
            span {
                font-size: 1.5rem;
            }
        }
    
        .goods-info-main {
            width: 90%;
            height: 90%;
            background-color: #A5EF83;
            padding: 5% 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
    
            img {
                width: 90%;
                height: auto;
            }
    
            p {
                font-family: $font-Tks;
                text-align: center;
                font-size: 1.3rem;
                line-height: 200%;
                color: $color-B;
                font-weight: bold;
            }
    
            .product {
                width: 90%;
                height: 25%;
                background-color: $color-W;
                display: flex;
                justify-content: center;
    
                .product-left {
                    width: 55%;
                    height: 100%;
    
                    h4 {
                        font-family: $font-Tks;
                        color: $color-W;
                        font-size: 1rem;
                        color: $color-B;
                        line-height: 120%;
                        margin: 10% 0 8% 0;
    
                        span {
                            font-size: 0.1rem;
                        }
                    }
    
                    p {
                        font-family: $font-Tks;
                        color: $color-W;
                        font-size: 0.2rem;
                        color: $color-B;
                        text-align: left;
                        font-weight: bold;
                        line-height: 250%;
                    }
                }
    
                .product-right {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    img {
                        width: 100%;
                        height: auto;
                        margin-bottom: 10%;
                    }
    
                    .product-right-btn {
                        width: 100%;
                        height: 15%;
                        background-color: #F0D150;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
    
                        a {
                            text-decoration: none;
                            font-family: $font-Tks;
                            color: $color-W;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    .active {
        opacity: 1;
        visibility: visible;
    }

    .goods-info-close {
        position: absolute;
        top: -4%;
        right: -6%;
        width: 11%;
        height: 10%;
        background-color: #F0D150;
        border-radius: 50%;
    }

    .parent-footer {
        width: 100vw;
        height: 64vh;

        .parent-footer-1 {
            width: 100%;
            height: 90%;
            padding: 5% 0;
            justify-content: space-between;

            img {
                width: 30%;
                height: auto;
            }

            .footer-btn-1 {
                width: 74%;
                height: 60%;
                display: flex;
                align-items: center;
                flex-direction: column;
                ;
                justify-content: space-around;

                .footer-btn-ability {
                    width: 100%;
                    height: 45%;
                    background-color: #C4E6FD;
                    border-radius: 10px;
                    margin-bottom: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .footer-ability-img {
                        width: 100%;
                        height: 50%;
                        position: relative;

                        .footer-ability-img-1 {
                            width: 25%;
                            height: auto;
                            position: absolute;
                            top: -60%;
                            left: 25%;
                        }

                        .footer-ability-img-2 {
                            width: 30%;
                            height: auto;
                            position: absolute;
                            top: -80%;
                            right: 25%;
                        }
                    }

                    a {
                        font-family: $font-Tks;
                        font-weight: bold;
                        font-size: 1.5rem;
                        text-decoration: none;
                        color: $color-B;
                    }
                }

                .footer-btn-goods {
                    width: 100%;
                    height: 45%;
                    background-color: #D2F8D1;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .footer-goods-img {
                        width: 100%;
                        height: 50%;
                        position: relative;

                        .footer-goods-img-1 {
                            width: 40%;
                            top: -60%;
                            left: 30%;
                        }

                        .footer-goods-img-2 {
                            width: 30%;
                            top: 5%;
                            left: 5%;
                        }

                        .footer-goods-img-3 {
                            width: 30%;
                            top: 10%;
                            right: 3%;
                        }
                    }

                    a {
                        font-size: 1.5rem;
                    }
                }
            }

            .footer-btn-2 {
                width: 74%;
                height: 11%;

                .footer-btn-child {
                    width: 100%;
                    height: 100%;
                    background-color: #F6F1C2;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .parent-footer-2 {
            width: 100vw;
            height: 10%;
            background-color: $color-G;
        }
    }
}