$margin-center: 0 auto;
$font-Tks: "fot-tsukuardgothic-std", sans-serif;
$color-W: #fdfdfd;
$color-B: #4B4237;
$color-G: #1EAAAA;
$borderR-img: 5px;

body {
    background-color: $color-W;
}

#parent-top {
    width: 100vw;
    height: 100vh;
    background-color: $color-G;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .rogo {
        width: 60%;
        height: 30%;
    }

    .chara {
        width: 60%;
        height: 60%;
    }
}

#parent-main {
    width: 100vw;
    height: 372vh;

    .parent-main-1 {
        width: 100%;
        height: 77%;
        // padding: 10% 0;
        position: relative;

        .parent-concept {
            width: 100%;
            height: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .parent-what {
            width: 80%;
            height: 40%;
            margin: $margin-center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .parent-what-text {
                width: 100%;
                height: 70%;
                border: solid 3px $color-G;
            }
        }

        .parent-ability {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .parent-title {
            width: 30vw;
            height: 25vh;
            margin-bottom: 2vh;
        }

        p {
            font-family: $font-Tks;
            font-weight: bold;
            font-size: 1.5em;
            text-align: center;
            color: $color-B;
            margin-bottom: 8vh;
        }
    }

    

    .parent-main-1::before {
        content:"";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 100vw 0 0;
        border-color: transparent $color-G transparent transparent;
    }

    .parent-main-2 {
        width: 100%;
        height: 23%;
        background-color: $color-G;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: $font-Tks;
            font-size: 4em;
            color: $color-W;
        }

        p {
            font-family: $font-Tks;
            font-weight: bold;
            font-size: 1.5em;
            text-align: center;
            color: $color-W;
            margin-bottom: 3vh;
        }
    }

    .parent-main-2::before {
        content:"";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 100vw 0 0;
        border-color: transparent $color-W transparent transparent;
    }

    .parent-btn {
        width: 35vw;
        height: 8vh;
        background-color: #F7A514;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8vh;
    }

    a {
        text-decoration: none;
        color: $color-W;
        font-family: $font-Tks;
        font-weight: bold;
        font-size: 1.5em;
    }
}

